<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog</title>
        <link rel="stylesheet" href="../../static/css/base.css" type="text/css" />
        <link rel="stylesheet" href="../../static/css/normalize.css" type="text/css" />
    </head>
    <body>
        <header class="header">헤더</header>
        <main class="main">
            <div class="hero-section">히어로</div>
            <div class="main-content">메인 콘텐츠</div>
            <div class="side-content">사이드 콘텐츠</div>
        </main>
        <footer class="content-info">
            <div class="footer">푸터</div>
        </footer>
    </body>
</html>

